@import "~antd/dist/antd.css";
@font-face {
  font-family: "Hahmlet-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-SemiBold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  /* overflow: auto; */
  box-shadow: 0 0 30px #f3f1f1;
  background-color: #ffffffeb;
}

.menu__logo {
  width: 200px;
  float: left;
}

.menu__logo a {
  font-family: "Hahmlet-SemiBold";
  display: inline-block;
  font-size: 20px;
  padding: 16px 20px;
  color: #392b53;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
  background-color: transparent;
}

.menu__container .ant-menu {
  background-color: transparent;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 10px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #827397;
  border-color: #827397;
}

.menu__mobile-button:active,
.menu__mobile-button:hover {
  background: #4d4c7d;
  border-color: #4d4c7d;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px 12px 20px;
  }
}

/* menu hover */

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 2px solid #827397;
}
.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #363062;
}

.ant-menu-item {
  margin: 0 !important;
}

.ant-menu-item:hover {
  background-color: #e6e5eba1;
}

.ant-menu-item > a {
  color: #716f81;
  font-weight: 500;
}

.ant-menu-item > a:hover {
  color: #363062;
}
