main {
  display: flex;
  flex-direction: column;
  width: 950px;
  margin: 3 auto;
  margin-top: 68px;
}

.thumbnailBox {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  border: 1px solid rgba(211, 211, 211, 0.548);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
}

.thumbnail,
.noThumbnail {
  position: relative;
  width: 100%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-position: center, center;
  background-size: cover;
  padding-top: 61.8%;
}

.noThumbnail > span {
  color: lightgray;
}

.noThumbText {
  position: absolute;
  top: 50%;
  margin-top: -12px;
}

/* info */
.productInfoBox {
  padding-left: 1rem;
}

.col {
  display: flex;
}

.infoTitle {
  font-weight: 500;
  color: black;
}

.cartBtn {
  margin-top: 1rem;
}

.label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.title {
  margin: 3rem 0;
}

@media (max-width: 992px) {
  main {
    width: 700px;
  }

  .thumbnailBox {
    margin-bottom: 1rem;
  }

  .noThumbnail {
    width: 100%;
    height: 100%;
  }

  .title {
    padding: 1rem 0;
  }

  .productInfoBox {
    max-height: 450px;
    padding: 1rem 0;
    overflow: hidden;
  }
  .cartBtn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  main {
    margin-top: 53px;
    width: 100%;
  }

  .title {
    padding: 1rem;
    padding-bottom: 0;
  }

  .noThumbnail,
  .thumbnail {
    width: 100%;
    height: 0;
    padding-top: 61.8%;
    border-radius: 0.5rem;
  }

  .thumbnailBox {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .productInfoBox {
    padding: 1rem;
    padding-top: 0;
  }
}
